hr{

}
a {
  background: linear-gradient(to bottom, #dadada 45%,#b7b7b7 68%);
  width: 200px;
  height: 50px;
  box-shadow: 0px 1px 5px 1px rgba(100,100,100,1);
  /*border: 1px solid grey;*/
  padding: 10px 25px;
  text-decoration: none;
  color: #555555;
  border-radius: 6px;
  text-transform: uppercase;
  text-shadow: 0px 0.5px 0px #d0d3d6;
  font-family: sans-serif;
  font-weight: bold;
  position: relative;
}
a::after{
  content: "";
  position: absolute;
  color: #888888;
  background-color: #cbcbcb;
  top: -4px;
  left: -5px;
  width: 148px;
  height: 46px;
  z-index: -1;
  border-radius: 8px;
  border: 1px solid grey;

}
a::before{
  position: absolute;
  top: 8px;
  left: 6px;
  content: "★★";
  color: #888888;
  letter-spacing: 96px;
}
/*a::before{
  width: 180px;
  height: 50;
  padding: 15px 20px;
  background: radial-gradient(ellipse at center, #cacaca 85%,#fafafa 91%);*/

}
